* {
  margin: 0;
  padding: 0; }

body {
  color: #343635; }

.header {
  padding: 1.5% 5% 1.2%;
  background: url("../../src/imgs/header_bg.png") no-repeat;
  background-size: center top; }
  .header .logo_img {
    height: 60px;
    vertical-align: middle; }
  .header .logo_text {
    font-size: 30px;
    vertical-align: middle;
    display: inline-block;
    line-height: 60px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #F5A85E; }
  @media screen and (max-width: 1440px) {
    .header {
      padding-left: 50px; } }
  @media screen and (max-width: 969px) {
    .header {
      padding-left: 30px; } }
  @media screen and (max-width: 767px) {
    .header {
      padding-left: 10px; } }

.nav-wrap {
  height: 50px; }

.nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #e1e3e4;
  border-bottom: 1px solid #d2d6d5; }
  .nav .nav-list {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
    @media screen and (max-width: 969px) {
      .nav .nav-list {
        width: 750px; } }
    @media screen and (max-width: 767px) {
      .nav .nav-list {
        width: 100%; } }
    .nav .nav-list li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
              flex: 1;
      list-style: none;
      border-right: 1px solid #d2d6d5;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all .5s;
      transition: all .5s; }
      .nav .nav-list li:hover {
        color: #F5A85E; }

.nav.fix-top {
  position: fixed;
  top: 0;
  z-index: 100;
  color: #fff;
  background: #F5A85E; }
  .nav.fix-top li {
    border-right: none !important; }
    .nav.fix-top li:hover {
      color: #69c; }

.swiper-container {
  height: 580px; }
  @media screen and (max-width: 969px) {
    .swiper-container {
      height: 405px; } }
  .swiper-container .swiper-wrapper {
    height: 100%; }
  .swiper-container .slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: block;
    position: relative; }
    .swiper-container .slide .slogan-left,
    .swiper-container .slide .slogan-right {
      position: absolute;
      top: 37%;
      width: 50%;
      letter-spacing: 5px;
      color: #fff;
      font-size: 40px; }
      @media screen and (max-width: 969px) {
        .swiper-container .slide .slogan-left,
        .swiper-container .slide .slogan-right {
          font-size: 26px; } }
      @media screen and (max-width: 767px) {
        .swiper-container .slide .slogan-left,
        .swiper-container .slide .slogan-right {
          font-size: 20px; } }
    .swiper-container .slide .slogan-left {
      text-align: right;
      right: 58%; }
    .swiper-container .slide .slogan-right {
      text-align: left;
      left: 58%; }
    .swiper-container .slide .welcome {
      color: #fff;
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 40px;
      top: 20%;
      letter-spacing: 5px; }
      @media screen and (max-width: 969px) {
        .swiper-container .slide .welcome {
          font-size: 26px; } }
      @media screen and (max-width: 767px) {
        .swiper-container .slide .welcome {
          font-size: 20px; } }

.product1 {
  margin: 10% auto; }
  .product1 .head {
    line-height: 60px;
    border-bottom: 2px solid #F5A85E; }
  .product1 .slogan {
    text-align: center;
    line-height: 1.6;
    letter-spacing: 5px;
    font-size: 34px; }
    @media screen and (max-width: 767px) {
      .product1 .slogan {
        font-size: 26px; } }
  .product1 .features {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    max-width: 950px;
    margin: 100px auto 0;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    .product1 .features .feature {
      margin: 0 10px;
      width: 180px; }
      .product1 .features .feature .feature-bg {
        width: 100%;
        padding-bottom: 100%;
        background: #F5A85E;
        border-radius: 50%;
        position: relative; }
        .product1 .features .feature .feature-bg .triangle-down {
          position: absolute;
          width: 0;
          height: 0;
          bottom: 0;
          left: 50%;
          -webkit-transform: translate(-50%, 40%);
                  transform: translate(-50%, 40%);
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-top: 25px solid #F5A85E; }
      .product1 .features .feature .feature-content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #fff;
        width: 100%;
        text-align: center; }
      .product1 .features .feature .feature-note {
        font-size: 14px;
        text-align: center;
        margin: 40px auto; }

.product2 {
  width: 80%;
  max-width: 1250px;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    .product2 {
      width: 90%; } }
  .product2 .head {
    line-height: 60px;
    border-bottom: 2px solid #F5A85E; }
  .product2 .screens {
    margin: 4.5% auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
            justify-content: space-around; }
    .product2 .screens .screen {
      width: 240px;
      margin: 15px; }
      .product2 .screens .screen img {
        width: 100%;
        display: block;
        box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.5); }
  .product2 .QA {
    margin: 40px auto 0; }
    .product2 .QA .QA-item {
      list-style: none; }
      .product2 .QA .QA-item .item-Q {
        display: inline-block;
        padding: 0 10px;
        background: #aeb2b5;
        border-radius: 5px;
        height: 37px;
        line-height: 36px;
        color: #fff; }
      .product2 .QA .QA-item .item-A {
        padding: 20px 0;
        line-height: 26px; }

.footer-wrap {
  background: #182029;
  padding: 50px 20px; }
  .footer-wrap .footer {
    max-width: 1000px;
    margin: 0 auto;
    color: #919399;
    font-size: 14px;
    line-height: 1.6; }
    .footer-wrap .footer .title {
      font-size: 22px;
      padding: 20px 0; }
